<div class="menuItem-container">
  <h1 mat-dialog-title>Edit Menu Item</h1>
  <mat-form-field>
    <input matInput placeholder="Title" tabindex="1" [(ngModel)]="data.title">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Description" tabindex="1" [(ngModel)]="data.description">
  </mat-form-field>
  <span>Spice Level</span>
  <mat-slider class="example-margin" [disabled]="false" [max]="5" [min]="1" [step]="1" [thumbLabel]="true" [tickInterval]="1"
    [(ngModel)]="data.spiceLevel">
  </mat-slider>
  <mat-form-field>
    <input matInput placeholder="Price" tabindex="1" [(ngModel)]="data.price">
  </mat-form-field>
  <div mat-dialog-actions>
    <button mat-raised-button color="accent" [mat-dialog-close]="data" tabindex="2">Edit</button>
    <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
  </div>
</div>