<mat-card>
  <mat-card-content>
    <h2>Orders</h2>
    <mat-tab-group (selectedTabChange)="onTabChange($event)">
      <mat-tab label="In Queue">
        <br/>
        <app-batch-orders *ngIf="batchOrdersInQueue" [batches]="batchOrdersInQueue" [ordersFor]="userType" [mode]="mode"></app-batch-orders>
        <span *ngIf="!batchOrdersInQueue">No Orders in Queue</span>
      </mat-tab>
      <mat-tab label="In Process">
        <br/>
        <app-batch-orders *ngIf="batchOrdersInProcess" [batches]="batchOrdersInProcess" [ordersFor]="userType" [mode]="mode"></app-batch-orders>
        <span *ngIf="!batchOrdersInProcess">No Orders in Process</span>
      </mat-tab>
      <mat-tab label="Completed">
        <br/>
        <app-batch-orders *ngIf="batchOrdersCompleted" [batches]="batchOrdersCompleted" [ordersFor]="userType" [mode]="mode"></app-batch-orders>
        <span *ngIf="!batchOrdersCompleted">No Orders in Completed Status</span>
      </mat-tab>
      <mat-tab label="Rejected">
        <br/>
        <span *ngIf="!deletedOrders">No Orders Rejected</span>
        <mat-list>
          <mat-list-item *ngFor="let order of deletedOrders">
            <h3 mat-line>{{order.menuItem.title}}</h3>
            <p mat-line>
              <span> by {{order.createdBy.firstName}} {{order.createdBy.lastName}}</span>
            </p>
            &nbsp;&nbsp;&nbsp;
            <button (click)="getOrderRejectedComment(order.id)" mat-icon-button color="black">
              <mat-icon>comment</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>