<mat-card class="register-card">
  <mat-card-content>
    <h2>Register</h2>
    <mat-list>
      <mat-list-item>
        <button [routerLink]="['/register/chef']" mat-raised-button color="primary">Register As Cook\Chef</button>
      </mat-list-item>
      <br/>
      <mat-divider></mat-divider>
      <br/>
      <mat-list-item>
        <button [routerLink]="['/register/customer']" mat-raised-button color="accent">Register As Customer</button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>